.primary_header {
  z-index: 999;
  position: fixed;
  display: flex;
  height: 5rem;
  width: 100%;
  padding: 3rem 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;

  .header_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1680px;
    margin: 0 2rem;
    height: 100%;

    .left_nav {
      display: flex;
      width: 40%;
      height: 100%;
      align-items: center;
      gap: 4rem;
      justify-content: flex-end;

      .nav_item_left {
        gap: 4px;
        flex-direction: column;
        display: flex;
        width: 10rem;
        height: 3rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        
        &:hover {
          transform: translateY(-2px);
          
          .line {
            height: 3px;
            background-color: var(--secondary-color);
          }
        }

        .line {
          flex-shrink: 0;
          width: 100%;
          height: 1px;
          background-color: var(--secondary-color);
          transition: height 0.3s ease, background-color 0.3s ease;
          
          &.active_line {
            height: 3px;
            background-color: var(--secondary-color);
          }
        }

        .nav_link_text {
          font-size: 0.85rem;
          letter-spacing: 1px;
          font-weight: 400;
          color: var(--secondary-color);
          transition: color 0.3s ease, font-weight 0.3s ease;
        }

        .nav_link_number {
          font-size: 1.25rem;
          font-weight: 300;
          color: var(--secondary-color);
          transition: font-weight 0.3s ease;
        }
      }
    }

    .right_nav {
      flex-direction: row;
      display: flex;
      width: 40%;
      height: 100%;
      gap: 4rem;
      align-items: center;
      justify-content: flex-start;

      .nav_item_right {
        gap: 4px;
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        width: 10rem;
        height: 3rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        
        &:hover {
          transform: translateY(-2px);
          
          
          .line {
            height: 3px;
            background-color: var(--secondary-color);
          }
        }
        

        .line {
          flex-shrink: 0;
          width: 100%;
          height: 1px;
          background-color: var(--secondary-color);
          transition: height 0.3s ease, background-color 0.3s ease;
          
          &.active_line {
            height: 3px;
            background-color: var(--secondary-color);
          }
        }

        .nav_link_text {
          font-size: 0.85rem;
          letter-spacing: 1px;
          font-weight: 400;
          color: var(--secondary-color);
          transition: color 0.3s ease, font-weight 0.3s ease;
        }

        .nav_link_number {
          font-size: 1.25rem;
          font-weight: 300;
          color: var(--secondary-color);
          transition: font-weight 0.3s ease;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .primary_header {
    .header_wrapper {
      .left_nav {
        width: 45%;
      }

      .right_nav {
        width: 45%;
      }

      .menuBTN {
        display: flex;
        height: 100%;
        width: 5rem;
        margin: 0 2rem;
      }
    }
  }
}

@media (max-width: 1124px) {
  .primary_header {
    justify-content: flex-end;
    padding: 0px;
    padding-right: 16px;
    padding-top: 16px;

    .header_wrapper {
      justify-content: flex-end;
      .right_nav {
        display: none;
      }

      .left_nav {
        display: none;
      }

      .menuBTN{
        margin: 0px;
        padding: 0px;
      }
    }
  }
}